{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row top-menu">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right"></div>
</div>

<div class="col-md-12">
	<div class="panel panel-default padding-top padding-bottom">
         <div class="panel-heading"><h2>{{item.title}} ({{item.category.name}})</h2></div>
         <div class="panel-body category-item">
             <p>{{item.description}}</p>
         </div>
    </div>
</div>

{% endblock %}

